<template>
  <div class="chart-line">
    <h1 class="af-heading__ribbon -color-green">SVGでのグラフ</h1>

    <svg :viewBox="viewBox" :width="svgWidth" :height="svgHeight" :style="styles"  >
      <g :transform="seriesLineTransform">
        <g class="chart-line__series-line">
          <polyline v-for="(line, i) in seriesLinePropsList" :key="i" :points="line.points" :stroke="line.color"></polyline>
          <polyline :points="rulerX"></polyline>
          <polyline :points="rulerY"></polyline>
        </g>

        <g v-for="(series, i) in seriesDotPropsList" :key="i" :fill="seriesLinePropsList[i].color">
          <circle v-for="(dot, j) in series" :key="j" cx="0" cy="0" r="4" :transform="dot.transform"></circle>
        </g>
      </g>
     <text x="100" y="280" style="font-size: 50%">ruler value</text>
  </svg>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, reactive, computed, watchEffect } from 'vue';

export default defineComponent({
  setup() {
    const plotsY = ref<Array<Array<number>>>([]);
    const svgWidth = ref<number>(600);
    const svgHeight = ref<number>(500);
    const chartColor = ref<Array<string>>(['#ee3', '#ebe',]);
    const paddingBottom = ref<number>(50);
    const paddingLeft = ref<number>(50);
    const paddingRight = ref<number>(100);
    const styles = reactive<{
      backgroundColor: string;
      stroke: string;
      strokeWidth: number;
      fill: string;
    }>({
      backgroundColor: '#4E5F7B',
      stroke: '#fff',
      strokeWidth: 1,
      fill: 'none'
    });

    const viewBox = computed(() => `${0} ${0} ${svgWidth.value} ${svgHeight.value}`);
    const chartWidth = computed(() => svgWidth.value - (paddingLeft.value + paddingRight.value));
    const chartHeight = computed(() => svgHeight.value - paddingBottom.value);
     const xAxisStep = computed(() => chartWidth.value / Math.max(...plotsY.value.map(d => d.length-1)));
     const rulerX = computed(() => `0 0 ${chartWidth.value + 20} 0`);
     const rulerY = computed(() => `0 0 0 ${-chartHeight.value - 20}`);
     const allValues = computed(() =>
       plotsY.value.reduce((memo, data) => memo.concat(data), [])
     );
     const _maxValue = computed(() => Math.max(...allValues.value));
     const maxValue = computed(() => Math.ceil(_maxValue.value));
     const percentOfSeries = computed(() => plotsY.value.map(data => data.map(value => value/ maxValue.value)));
     const seriesLinePointList = computed(() =>
       percentOfSeries.value.map(data =>
           data.map((value, index) => [
             Math.round(xAxisStep.value * index * 10)/10,//小数点以下一桁で四捨五入
             Math.round(chartHeight.value * -value * 10)/10//グラフとviewBoxのy軸を反転
           ])
         )
     );
     const seriesLinePropsList = computed(() =>
       seriesLinePointList.value.map((value,index) => {
         const  color  = chartColor.value[index]
         return {
           color,
           points: value.map(p => p.join(' ')).join(' ')
         }
       })
     );
     const seriesDotPropsList = computed(() =>
       seriesLinePointList.value.map(points =>
         points.map(p => {
           const [x, y] = p
           return {
             transform: `translate(${x} ${y})`
           }
         })
       )
     );

     const fetchedData = async (res: Response) => {
       const _plotsY = await res.json();
       plotsY.value = _plotsY;
     }

     watchEffect(async () => {
       await fetchedData(await fetch(`${process.env.VUE_APP_BACKEND_URL}/chart`, { credentials: "include"}));
     });


     const seriesLineTransform = computed(() => `translate(${paddingLeft.value} ${chartHeight.value})`);

     return {
       plotsY,
       svgWidth,
       svgHeight,
       chartColor,
       paddingBottom,
       paddingLeft,
       paddingRight,
       styles,
       viewBox,
       chartWidth,
       chartHeight,
       xAxisStep,
       rulerX,
       rulerY,
       allValues,
       _maxValue,
       maxValue,
       percentOfSeries,
       seriesLinePointList,
       seriesLinePropsList,
       seriesDotPropsList,
       seriesLineTransform,
     }
   }
 }
);

</script>
