<template>
  <div class="home">
    <h1 class="af-heading__ribbon -color-green">Vue3のサンプル</h1>

    <div class="dialog">
    <div class="af-balloon -side-left">
      <img class="af-balloon__avatar" src="https://3.bp.blogspot.com/-1LXBe86Lrs8/Vf-artgLU6I/AAAAAAAAyJE/i5zNuMDWXWo/s800/icon_business_man13.png" />
      <div class="af-balloon__text">ログインできたら、この画面が見えてるはずだ。</div>
    </div>
    <div class="af-balloon -side-right">
      <img class="af-balloon__avatar" src="https://3.bp.blogspot.com/-ZtTMnGSjfzk/VaMOAsBo5FI/AAAAAAAAvhc/9TSiB9xAAx4/s800/youngwoman_44.png" />
      <div class="af-balloon__text">見えてますね。<router-link to="/pokemon">ポケモン図鑑</router-link>はAPIからのレスポンスをテーブルにマッピングするサンプルです。</div>
    </div>
    <div class="af-balloon -side-left">
      <img class="af-balloon__avatar" src="https://3.bp.blogspot.com/-1LXBe86Lrs8/Vf-artgLU6I/AAAAAAAAyJE/i5zNuMDWXWo/s800/icon_business_man13.png" />
      <div class="af-balloon__text">グラフをSVGで<router-link to="/chart">書くのもあるぞ</router-link></div>
    </div>
    </div>
  <HelloWorld msg="Welcome to Your Vue.js + TypeScript App"/>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import HelloWorld from '@/components/HelloWorld.vue';

export default defineComponent({
  name: 'Home',
  components: {
    HelloWorld,
  }
});
</script>

<style scoped>
.dialog {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
</style>