<template>
  <div class="home">
    <h1 class="af-heading__ribbon -color-green">ログイン</h1>
    <form novalidate @submit.prevent="onSubmit">
      <InputAccount v-model:account="account" v-model:password="password" />
      <button type="submit">Login</button>
    </form>
    <div>
        <router-link to="/register">新規ユーザ登録</router-link>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import Cookies from "js-cookie";
import router from "@/router";
import InputAccount from "@/components/InputAccount.vue";

export default defineComponent({
  name: "Home",
  components: {
    InputAccount,
  },
  setup() {
    const account = ref("");
    const password = ref("");
    const onSubmit = async () => {
      console.log(`${account.value}:${password.value}`);
      const res = await fetch(`${process.env.VUE_APP_BACKEND_URL}/user/login`, {
        method: "POST",
        credentials: "include",
        headers: {
            'Content-Type': "application/json",
        },
        body: JSON.stringify({
          account: account.value,
          password: password.value,
        }),
      });
      if (res.status == 200 || res.status == 204) {
          Cookies.set("logined", "true", { expires: 1/48});
          console.log("naze");
          router.push({ name: "Home" });
      }
      console.log(res);
    };

    return {
      account,
      password,
      onSubmit,
    };
  },
});
</script>
