<template>
  <div>
    <h1 class="af-heading__ribbon -color-green">ポケモン図鑑</h1>
    <form novalidate @submit.prevent="onFilter">
      <PokemonFilterPanel v-model:types="filters.types"/>
      <button type="submit">絞り込み</button>
    </form>

    <div>
      <PokemonList v-bind:pokemons="pokemons"/>
      <PaginationLinks v-bind:pages="pages" v-bind:current="currentPage" v-on:page="onPage"/>
    </div>

    <form novalidate @submit.prevent="onDownload">
      <button type="submit">この内容をダウンロード</button>
    </form>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref, reactive, watchEffect } from 'vue';
import Cookies from "js-cookie";
import { saveAs } from 'file-saver';
import router from "@/router";
import PokemonFilterPanel from '@/components/PokemonFilterPanel.vue';
import PokemonList from '@/components/PokemonList.vue';
import PaginationLinks from '@/components/PaginationLinks.vue';
import { ResponsePage } from '@/types/responsePage';
import { Pokemon } from '@/types/pokemon';
import { fetchPage } from '@/api';

function makePages<T>(page: ResponsePage<T>, linkCount: number): Array<number>{
  let start = page.self - Math.floor(linkCount / 2);
  let end = page.self + Math.floor(linkCount / 2);

  if (start < page.first) {
    end += page.first - start;
    start = page.first;
  }
  if (end > page.last) {
    end = page.last;
    start = Math.max(page.first, start - (end - page.last));
  }
  return Array.from({ length: (end - start) + 1}, (_, i) => start + i);
}

export default defineComponent({
  components: {
    PokemonFilterPanel,
    PokemonList,
    PaginationLinks,
  },

  setup() {
    const pokemons = ref<Array<Pokemon>>([]);
    const pages = ref<Array<number>>([]);
    const currentPage = ref<number>();
    const filters = reactive<{ types: Array<string>}>({
        types: []
    });

    const onPage = async(page: number) => {
      const params = new URLSearchParams();
      filters.types.forEach(t => params.append('type', t));
      const url = new URL(`${process.env.VUE_APP_BACKEND_URL}/pokemon`);
      params.append('pageNumber', String(page));
      const responsePage: ResponsePage<Pokemon> = await fetchPage<Pokemon>(url, params);
      pokemons.value = responsePage.items;
      pages.value = makePages(responsePage, 7);
      currentPage.value = responsePage.self;
    };

    const onFilter = async () => {
      const params = new URLSearchParams();
      filters.types.forEach(t => params.append('type', t));
      const url = new URL(`${process.env.VUE_APP_BACKEND_URL}/pokemon`);
      const responsePage: ResponsePage<Pokemon> = await fetchPage<Pokemon>(url, params);
      pokemons.value = responsePage.items;
      pages.value = makePages(responsePage, 7);
      currentPage.value = responsePage.self;
    };

    const onDownload = async() => {
      const params = new URLSearchParams();
      filters.types.forEach(t => params.append('type', t));
      const url = new URL(`${process.env.VUE_APP_BACKEND_URL}/pokemon`);
      params.append('pageSize', "10000");
      url.search = params.toString();
      const res = await fetch(url.toString(), {
        credentials: "include",
        headers: {
          'Accept': 'text/csv'
        }
      });
      saveAs(await res.blob(), "pokemon.csv");
    }

    watchEffect(async () => {
      const responsePage: ResponsePage<Pokemon> = await fetchPage<Pokemon>(new URL(`${process.env.VUE_APP_BACKEND_URL}/pokemon`), null);
      pokemons.value = responsePage.items;
      pages.value = makePages(responsePage, 7);
      currentPage.value = responsePage.self;
    });

    return {
      pokemons,
      pages,
      currentPage,
      filters,
      onPage,
      onFilter,
      onDownload,
    }
  }
});
</script>
