<template>
  <div class="user-register">
    <h1 class="af-heading__ribbon -color-green">ユーザ新規登録</h1>
    <form novalidate @submit.prevent="onSubmit">
      <UserRegisterForm v-model:loginName="createRequest.loginName"
        v-model:email="createRequest.email"
        v-model:password="createRequest.password"
      />
      <button type="submit">登録</button>
    </form>
    <p v-if="errors">
        {{ JSON.stringify(errors) }}
    </p>
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, ref } from "vue";
import router from "@/router";
import UserRegisterForm from "@/components/UserRegisterForm.vue";

export default defineComponent({
  name: "UserRegister",
  components: {
    UserRegisterForm,
  },
  setup() {
    const createRequest = reactive<{
        loginName: string;
        email: string;
        password: string;
    }>({
        loginName: "",
        email: "",
        password: "",
    });
    const errors = ref(null);
    const onSubmit = async () => {
      console.log(`${JSON.stringify(createRequest)}`);
      const res = await fetch(`${process.env.VUE_APP_BACKEND_URL}/user`, {
        method: "POST",
        mode: "cors",
        credentials: "include",
        headers: {
            'Content-Type': "application/json",
        },
        body: JSON.stringify({...createRequest, screenName: createRequest.loginName }),
      });
      if (res.status == 400) {
          errors.value = (await res.json()).errors;
          return;
      } else if (res.status == 200 || res.status == 204) {
          router.push({ name: "Home" })
      }
    };

    return {
        createRequest,
        errors,
        onSubmit,
    };
  },
});
</script>
