<template>
  <div>
    <div>
      <label>
        Account
        <input type="text" v-model="account" name="account" placeholder="Account"/>
      </label>
    </div>
    <div>
      <label>
        Password
        <input type="password" v-model="password" name="password" placeholder="Password"/>
      </label>
    </div>
  </div>
</template>
<script>
import useInputValidator from '@/features/useInputValidator';
export default {
  name: 'InputAccount',
  props: {
    accountVal: {
      type: String,
    },
    passwordVal: {
      type: String,
    }
  },
  setup(props, { emit }) {
    const account = useInputValidator(
      props.accountVal,
      value => emit("update:account", value)
    ).input;
    const password = useInputValidator(
      props.passwordVal,
      value => emit("update:password", value)
    ).input;

    return {
      account,
      password,
    }
  }
}
</script>