<template>
    <div class="pagination__wrapper">
        <nav class="pagination">
            <ul class="page-numbers">
                <li v-for="page in pages" :key="page">
                    <span v-if="page == current" class="page-numbers pagination-current">{{page}}</span>
                    <a v-else class="page-numbers" href="#" @click.stop.prevent="handleClick(page)">{{page}}</a>
                </li>
            </ul>
        </nav>
    </div>
</template>
<script lang="ts">
import { defineComponent, PropType } from 'vue';
export default defineComponent({
    props: {
        pages: {
            type: Array as PropType<Array<number>>,
            default: () => [],
        },
        current: {
            type: Number,
            default: () => 1,
        }
    },
    setup(props, { emit }) {
        const handleClick = (page: number) => {
            emit('page', page);
        }

        return {
            handleClick,
        }
    }
});
</script>
<style scoped>
.pagination__wrapper {
  width:100%;
  margin:auto;
}
.pagination {
  margin:auto;
  width: 100%;
  text-align:center;
}
.pagination ul {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex-wrap: wrap;
  border-radius: 3px;
}
.pagination li {
  overflow: hidden;
  margin: 4px;
  padding: 0;
}
.pagination a, .pagination span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0 3px 0 0;
  border-radius: 50%;
  text-decoration: none;
  color: #666;
  border:2px solid #fff;
}
.pagination a:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0 3px 0 0;
  border-radius: 50%;
  text-decoration: none;
  color: #fff;
  background:#999;
  border:2px solid #999;
}
.pagination .pagination-current {
  color: #f96da5;
  cursor: default;
  margin: 0 3px 0 0;
  border:2px solid #f96da5;
}
.page-numbers {
  width: auto;
  padding: 0;
  background: transparent
}
</style>