<template>
    <div>
        <select v-model="types" multiple>
            <option>ノーマル</option>
            <option>ほのお</option>
            <option>みず</option>
            <option>でんき</option>
            <option>くさ</option>
            <option>こおり</option>
            <option>かくとう</option>
            <option>どく</option>
            <option>じめん</option>
            <option>ひこう</option>
            <option>エスパー</option>
            <option>むし</option>
            <option>いわ</option>
            <option>ゴースト</option>
            <option>ドラゴン</option>
            <option>あく</option>
            <option>はがね</option>
            <option>フェアリー</option>
        </select>
    </div>
</template>
<script lang="ts">
import { defineComponent, ref, watch } from "vue";

export default defineComponent({
    name: 'PokemonFilterPanel',
    setup(props, { emit }) {
        const types = ref<Array<string>>([]);

        watch(types, value => {
            if (value.length > 2) {
                value.pop();
                return;
            }
            emit('update:types', value);
        });
        return {
            types,
        }
    }
});
</script>