<template>
    <table>
      <thead>
        <th>No</th>
        <th>Name</th>
        <th>タイプ</th>
        <th>HP</th>
        <th>こうげき</th>
        <th>ぼうぎょ</th>
        <th>とくこう</th>
        <th>とくぼう</th>
        <th>すばやさ</th>
      </thead>
      <tbody>
        <tr v-for="pokemon in pokemons" :key="pokemon.id">
          <td class="number">{{pokemon.no}}</td>
          <td>{{pokemon.name}}</td>
          <td>{{pokemon.types.join(",")}}</td>
          <td class="number">{{pokemon.stats.hp}}</td>
          <td class="number">{{pokemon.stats.attack}}</td>
          <td class="number">{{pokemon.stats.defence}}</td>
          <td class="number">{{pokemon.stats.spAttack}}</td>
          <td class="number">{{pokemon.stats.spDefence}}</td>
          <td class="number">{{pokemon.stats.speed}}</td>
        </tr>
      </tbody>
    </table>
</template>
<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { Pokemon } from '@/types/pokemon';

export default defineComponent({
    props: {
        pokemons: {
            type: Array as PropType<Array<Pokemon>>,
            default: () => [],
        },
    }
});
</script>
<style scoped>
td.number {
  text-align: right;
}
</style>