<template>
  <div>
    <div class="form-item">
      <label>
        <span class="label">アカウント</span>
        <input type="text" v-model="loginName" name="loginName" placeholder="Account"/>
      </label>
    </div>
    <div class="form-item">
      <label>
        <span class="label">メールアドレス</span>
        <input type="text" v-model="email" name="email" placeholder="Email"/>
      </label>
    </div>
    <div class="form-item">
      <label>
        <span class="label">パスワード</span>
        <input type="password" v-model="password" name="password" placeholder="Password"/>
      </label>
    </div>
  </div>
</template>
<script>
import { defineComponent, ref, watch } from 'vue';

export default defineComponent({
  name: 'UserRegisterForm',
  setup(props, { emit }) {
      const loginName = ref("");
      watch(loginName, value => {
          emit('update:loginName', value);
          });
      const email = ref("");
      watch(email, value => {
          emit('update:email', value);
          });
      const password = ref("");
      watch(password, value => {
          emit('update:password', value);
          });
    return {
      loginName,
      email,
      password,
    }
  }
});
</script>

<style scoped>
span.label {
    display: inline-block;
    width: 150px;
    text-align: right;
    padding-right: 20px;
}

.form-item {
    margin-bottom: 10px;
}
</style>